{% extends 'base.html' %}

{% block links %} 
    <link rel="stylesheet" href= "{{ url_for('chat.static', filename='css/style.css')}}">
{% endblock %}

{% block content %}
    <form action="" method="post">
        <input type="email" placeholder="Ваша пошта" name="email" value = "{{ email }}">
        <input type="text" placeholder="Ваш пароль" name="password" value = "{{ password }}">
        <input type="text" placeholder="Підтвердіть ваш пароль" name="confirm_password" value = "{{ confirm_password }}">
        <button type = "submit">Зареєстроватись</button>

        <p>{{ error }}</p>
        
    </form>
{% endblock %}